div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-top: 12%;
    margin-bottom: 5%;
    gap: 5%;
}

#button_div {
    display: flex;
    justify-content: center;
}