<div>
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error> {{errorMsg}} </mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="login_with_credentials()">Login</button>
  </mat-card>
</div>