#text_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-top: 4%;
    gap: 5%;
}

#button_div {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}